body{
    background-color: #2e2e29;
}
.todo-list-wrapper{
    width: 80%;
    margin: 10px auto;
    background-color: #ffff66;
    border: 2px solid #ffff66;
    border-radius: 20px;
    padding-bottom: 35px;
}
.todo-list-wrapper h2{
    text-align: center;
}
.todo-input-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.todo-input-wrapper input{
    width: 70%;
    height: 35px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 20px;
    border: 1px solid #555555;  

}
.todo-input-wrapper button{
    width: 10%;
    height: 35px;
    margin-left: 15px;
    padding: 0;
    background-color: #338bff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.todo-list-container{
    width: 95%;
    max-height: 80%;
    background-color: #ffffc6; 
    margin: 0 auto; 
}
/* COMPLETE LIST */
.complete-list-wrapper{
    width: 80%;
    margin: 0 auto;
    background-color: #49f149;
    border: 2px solid #49f149;
    border-radius: 20px;
    padding-bottom: 35px;
}
.complete-list-wrapper h2{
    text-align: center;
}
.complete-input-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.complete-list-container{
    width: 95%;
    max-height: 80%;
    background-color: #ffffc6; 
    margin: 0 auto; 
}
/* TODO ITEM */
.todo-item{
    height: 60px; 
    border-top: 1px solid #555555 ;
    display: flex;
    align-items: center;
}
.todo-item p{
    margin: 0;
    width: 75%;
    float: left;
    font-size: 1.5em;
}
/* BUTTONS */
.complete-button{
    width: 10%;
    height: 30px;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.delete-button{
    width: 10%;
    height: 30px;
    margin-left: 5px;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}