.todo-list-wrapper{
    width: 80%;
    margin: 0 auto;
    background-color: #ffff66;
    border: 2px solid #ffff66;
    border-radius: 20px;
    padding-bottom: 35px;
}
.todo-list-wrapper h2{
    text-align: center;
}

.todo-input-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.todo-input-wrapper input{
    width: 70%;
    height: 25px;
    margin-bottom: 20px;
    padding: 0;

}
.todo-input-wrapper button{
    width: 10%;
    height: 28px;
    margin-left: 15px;
    padding: 0;
    border: none;
    background-color: #33ffff;


}
.todo-list-container{
    width: 95%;
    max-height: 80%;
    background-color: #ffffc6; 
    margin: 0 auto; 
}
.todo-item{
    height: 60px; 
    border-top: 1px solid black ;
    display: flex;
    align-items: center;
}
.todo-item p{
    margin: 0;
    width: 75%;
    float: left;
    font-size: 1.5em;
}
.complete-button{
    width: 10%;
    height: 30px;
    background-color: green;
    border: none;
    border-radius: 5px;

}
.delete-button{
    width: 10%;
    height: 30px;
    margin-left: 5px;
    background-color: red;
    border: none;
    border-radius: 5px;

}